* {
  margin: 0px;
  padding: 0px;
}
.row {
  margin: 0px;
}
.shadowCard {
  border-radius: 15px;
  box-shadow: -4px 4px 12px -10px rgba(0, 0, 0, 0.75),
    4px -4px 12px -10px rgba(0, 0, 0, 0.75);
}

.content-text {
  white-space: nowrap;
}
.card-content {
  padding: 15px;
  margin: 5px auto;
  word-break: break-all;
  overflow-wrap: break-word;
}

.create-account-btn {
  display: flex;
  justify-content: end;
  margin: 10px 25px;
  margin-top: 25px;
}

.create-account {
  display: inline-block;
  outline: 0;
  cursor: pointer;
  border: none;
  padding: 7px 25px;
  border-radius: 7px;
  background-color: #0070f3;
  color: white;
  font-weight: 500;
  font-size: 14px;
  transition: background 0.2s ease, color 0.2s ease, box-shadow 0.2s ease;
}
.create-account:hover {
  background: rgba(0, 118, 255, 0.9);
}

.main-card-content {
  padding: 25px;
  margin: 0px 5px;
}

@media only screen and (min-width: 600px) {
  .card-content-parent {
    display: grid;
    justify-content: space-evenly;
    grid-template-columns: 47% 47%;
  }
}
